@import "Variables.css";

.header {
  padding-bottom: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 4rem 5rem 4rem;
}

.headerText {
  max-width: 800px;
  width: 100%;
  padding-right: 6rem;
}

.headerText div {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

.headerText div img {
  width: 27px;
  height: 27px;
  margin-right: 1rem;
}

.headerText div p {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0rem;
}

.headerText h1 {
  font-size: 2.9rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

.headerText p {
  color: var(--secondary-color);
}

.btn {
  width: 135px;
  height: 45px;
  background-color: var(--button);
  border-radius: 0.5rem;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0rem !important;
  cursor: pointer;
}

.btn p:nth-child(1) {
  padding-right: 0.8rem;
  font-weight: normal;
  color: var(--button-txt-color);
  font-size: 1rem !important;
}

.btn p:nth-child(2) {
  padding-bottom: 0.1rem;
}

.headerImg {
  max-width: 800px;
  width: 100%;
}

.headerImg img {
  max-width: 800px;
  width: 100%;
  padding-left: 1rem;
}

@media screen and (max-width: 1100px) {
  .header {
    padding: 10rem 2rem 3rem 2rem;
  }
}

@media screen and (max-width: 990px) {
  .header {
    flex-wrap: wrap;
  }

  .headerImg img {
    padding-left: 0rem;
  }

  .headerText {
    padding-right: 0rem;
    padding-bottom: 4rem;
  }
  .headerText h1 {
    font-size: 1.8rem;
  }
}
